<a href="/" class="close"></a>
<% if flash[:duplicate_account_error] %>
	<script type="text/javascript">
    $(document).ready(function () {
      $('#modalPush').modal('show');
    });
	</script>
	<div class="modal fade" id="modalPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  	<div class="modal-dialog modal-notify modal-info" role="document">
    	<div class="modal-content text-center">
      	<div class="modal-header d-flex justify-content-center" style="background-color: #0099ff">
        	<p class="heading" style="color: white; font-size: 22px; font-weight: 500">Duplicate Account</p>
      	</div>
      	<div class="modal-body">
        	<i class="fas fa-user-circle fa-4x" style="color: #0099ff"></i>
        	<p style="margin-top: 20px"><%= flash[:duplicate_account_error] %></p>
      	</div>
      	<div class="modal-footer justify-content-center">
					<a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal" style="font-weight: 540">CANCEL</a>
        	<a href="/signin" class="btn btn-info" style="background-color: #0099ff" style="font-weight: 530">GO TO LOGIN</a>
      	</div>
    	</div>
  	</div>
	</div>
<% end %>

<main class="login-main">
  <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<div class="login100-pic">
					<img src="<%= asset_path('login.png') %>">
				</div>

				<%= form_with(url: users_path, class: "login100-form validate-form") do|form| %>
					<span class="login100-form-title">
						Member SignUp
					</span>

					<div class="wrap-input100 validate-input">
						<%= form.text_field :name, class: "input100", placeholder: "Name", autofocus: true %>
						<% if flash[:name_error] %>
							<span class="alert-validate" data-validate = "<%= flash[:name_error] %>"><i class="fas fa-info-circle"></i></span>
						<% end %>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fas fa-user-circle" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input">
						<%= form.email_field :email, class: "input100", placeholder: "Email" %>
						<% if flash[:email_error] %>
							<span class="alert-validate" data-validate = "<%= flash[:email_error] %>"><i class="fas fa-info-circle"></i></span>
						<% end %>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fas fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input">
						<%= form.password_field :password, id: "password-field", type: "password", class: "input100", placeholder: "Create Password" %>
						<% if flash[:password_error] %>
							<span class="alert-validate" data-validate = "<%= flash[:password_error] %>"><i class="fas fa-info-circle"></i></span>
						<% end %>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fas fa-lock" aria-hidden="true"></i>
						</span>
						<% if !flash[:password_error] %>
							<span toggle="#password-field" class="fas fa-fw fa-eye-slash field-icon toggle-password" id="hide"></span>
						<% end %>
					</div>

					<div class="wrap-input100 validate-input">
						<%= form.password_field :re_password, id: "re-password-field", type: "password", class: "input100", placeholder: "Re-enter password" %>
						<% if flash[:re_password_error] %>
							<span class="alert-validate" data-validate = "<%= flash[:re_password_error] %>"><i class="fas fa-info-circle"></i></span>
						<% elsif flash[:mismatch_error] %>
							<span class="alert-validate" data-validate = "<%= flash[:mismatch_error] %>"><i class="fas fa-info-circle"></i></span>
						<% end %>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fas fa-lock" aria-hidden="true"></i>
						</span>
						<% if !flash[:re_password_error] && !flash[:mismatch_error] %>
							<span toggle="#re-password-field" class="fas fa-fw fa-eye-slash field-icon toggle-password" id="re-hide"></span>
						<% end %>
					</div>

					<div class="container-login100-form-btn">
						<%= form.submit "Create Account", class: "login100-form-btn" %>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="/signin">
							Already have an account? Login
							<i class="fas fa-long-arrow-alt-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</main>
