<% order_items = @invoice.order_items %>
<a href="/orders" class="close"></a>
  <main class="invoice-main">

    <div class="paypal" id="invoice">

      <div class="paypal__header">
        <div class="paypal__logo-wrapper">
            <img src = "<%= asset_path('logo.png') %>" />
        </div>

        <div class="paypal__header-info">

          <span class="paypal__id">#chefoodu$<%= @invoice.id %></span><br><br>
          <% if @invoice.delivered_at %>
            <span class="paypal__delivery__date"><%= @invoice.delivered_at.to_s(:short) %></span>
          <% end %>
        </div>
      </div>

      <div class="paypal__subheader-wrapper">
        <div class="paypal__subheader">
          <h1 class="paypal__username">Hi <%= User.find_by(id: @invoice.user_id).name %> !</h1>
          <span class="paypal__help-text">you've purchased <%= order_items.count %> items in our store:</span>
        </div>
      </div>

      <div class="paypal__cart">
        <h2 class="paypal__cart-title">Cart:</h2>

        <ul class="paypal__cart-list">

            <% sno = 1 %>
            <% order_items.each do |item| %>
                <li class="paypal__cart-item">
                    <span class="paypal__index"><%= sno %></span>
                    <span class="paypal__item-name"><%= item.menu_item_name %></span>
                    <span class="paypal__item-name"> X <%= item.quantity %></span>
                    <span class="paypal__item-price">Rs <%= item.menu_item_price * item.quantity %></span>
                </li>
                <% sno = sno + 1 %>
            <% end %>

            <li class="paypal__cart-item">
              <span class="paypal__cart-total">GST</span>
              <span class="paypal__item-price"> 18% </span>
            </li>
            <li class="paypal__cart-item">
              <span class="paypal__cart-total">Delivery Charges</span>
              <span class="paypal__item-price"> Rs 10 </span>
            </li>
            <li class="paypal__cart-item">
                <span class="paypal__cart-total">Total</span>
                <span class="paypal__item-price">Rs <%= @invoice.total %></span>
            </li>
        </ul>
      </div>

      <div class="paypal__footer">
        <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
      </div>
    </div>

  </main>


<script>
        $('#printInvoice').click(function(){
                    Popup($('#invoice')[0].outerHTML);
                    function Popup(data)
                    {
                        window.print();
                        return true;
                    }
                });
</script>
