<% cart_items.each do |citem| %>
  <tr class="bordered">
    <th scope="row" class="border-0">
      <div class="p-2">
        <img src="test.jpg" alt="" width="70" class="img-fluid rounded shadow-sm">
        <div class="ml-3 d-inline-block align-middle">
          <h5 class="mb-0">
            <a href="#" class="text-dark d-inline-block align-middle">
              <%= citem.menu_item_name %>
            </a>
          </h5>
          <span class="text-muted font-weight-normal font-italic d-block">
            Category: <%= citem.menu_item_category %>
          </span>
        </div>
      </div>
    </th>
    <td class="border-0 align-middle">
      <strong><%= citem.menu_item_price %></strong>
    </td>
    <td class="border-0 align-middle">
      <strong><%= citem.quantity %></strong>
    </td>
    <td class="border-0 align-middle">
      <!--<%= form_with(url: "/cart_items/#{citem.id}", method: :delete, class: "dete-item") do %>-->
      <a href="/cart_items/<%= citem.id %>" data-method="delete">
        <button type="submit" class="text-dark">
          <i class="fa fa-trash"></i>
        </button>
      </a>
      <!--<% end %>-->
    </td>
  </tr>
<% end %>
