<div class="specific-category-section" id="<%= category %>">
  <div class="row justify-content-center flex">
    <p><%= category %></p>
    <%= r = 1 %>
    <% menu_items.sort.each do|mitem| %>
      <% if r%4 == 1 %>
        <div class="container-fluid">
          <div class="row justify-content-center">
      <% end %>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-front">
            <%= image_tag "slideshow4.jpg", class: "Item-image" %>
          </div>
        <div class="card-back">
          <h2 class="Item-name">
            <%= mitem.name %>
            <br>
            <span><%= mitem.description %></span>
          </h2>
          <div class="add-to-cart">
            <a href="#" class="add-to-cart">add to cart</a>
          </div>
        </div>
      </div>
      <% if r%4 == 1 %>
          </div>
        </div>
      <% end %>
      <% r = r+1 %>
    <% end %>
  </div>
</div>
